.SnekContainer {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SnekRow {
  display: flex;
}

.SnekCell {
  width: 20px; /* Adjust based on the desired size of each cell */
  height: 20px; /* Adjust based on the desired size of each cell */
  border: 1px solid black; /* Border style */
}

.snakeHead {
  background-color: blue;
}
