.content{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.calculatorContainer{
    width: 400px;
    background-color: rgb(22, 21, 21);
    border: 2px solid black;
    padding: 1em;
}

.calculatorHead{
    height: 100px;
    background-color: black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.previousExpression{
    color: gray;
}

.currentExpression{
    border: none;
    background-color: transparent; /* Set background color to transparent */
    color: white;
    font-size: 2em;
    text-align: right;
    width: 100%;
}

.calculatorBody{
    background-color: rgb(41, 40, 40);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three columns with equal width */
    grid-gap: 1em; /* Gap between grid items */
    padding: 0.5em;
}

.calculatorButton{
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}