.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
  z-index: 999; /* Ensure the background covers other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: white;
  width: 500px;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.movieImage {
  width: 100%;
  height: 250px;
}

.genres {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-weight: bold;
}
